<!DOCTYPE html>
<ion-view title="Main">
    <ion-content title="main" hide-back-button="true" class="main-background">
        <div class="main_page main-color">
            <h1 class="main-color">photo<h1 style="color:#294b81;">lounge</h1></h1>
            <h5 class="main-color"> where photographers meet</h5>
        </div>

        <div class="row">
            <div class="col col-25">
                <div class="card">
                    <div class="item item-title">
                        LATEST SUBMISSIONS
                    </div>
                    <div class="item item-content">
                        pictures
                    </div>
                </div>
            <div class="col">
                <div class="card">
                   <div class="item item-title">
                       MONTHLY FEATURE
                   </div>
                   <div class="item item-content">
                       pictures
                   </div>
                </div>
             </div>
        <div class="row">
            <div class="col col-25">
                <div class="card">
                    <div class="item item-title">
                        LATEST DISCUSSTIONS
                    </div>
                    <div class="item item-content">
                        pictures
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-title">
                        LATEST NEWS
                    </div>
                    <div class="item item-content">
                        pictures
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
</html>